@import "variables";

body {
	font-family: $body-font-family;
	font-weight: 300;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.875;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
	font-weight: $font-weight-bold;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 3.5em;
}

h1.intro-h1 {
	font-size: 60px;
	text-align: center;
}

h2 {
	font-size: 2.5em;
}

h2.page-header {
	text-align:center;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1.2em;
}

p.intro-subline {
	font-size: 20px;
	text-align: center;
	font-weight: 300;
  line-height: 1.875;
	font-family: $body-font-family;
}

a {
	color: $color-primary;
}

a:focus,
a:hover {
	color: lighten($color-primary, 15);
}

footer {
	font-family: $footer-font-family;
	font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-transform: uppercase;
	text-align: center;

}
