@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

$color-primary: #0070f3;
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #1f1f1f;
$color-light-gray: #f2f2f2;
$color-mid-gray: #606060;

$font-family: "Playfair Display", serif;
$body-font-family: "Noto Serif SC", serif;
$menu-font-family: "Poppins", sans-serif;
$footer-font-family: "Poppings", sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
